cryptography==42.0.7  # 42.0.4
mysql-connector-python<=8.0.29
fastapi==0.111.0  # 0.101.0
httpx==0.27.0  # 0.23.3
# importlib_resources==5.8.0; python_version<'3.9'  # Not needed since dropping Python 3.8 support
ispyb==8.0.0  # 6.11.0
jinja2==3.1.4  # 3.1.3
numpy==1.26.4  # 1.25
procrunner==2.3.3
prometheus_client==0.20.0  # 0.17.1
pillow==10.3.0  # 10.2.0
pydantic==1.10.15  # 1.10.1
# pytest-cov==4.0.0  # Not present in fresh Python environment?
pytest==8.2.0  # 7.1.2
pyyaml==6.0.1  # 6.0
readlif==0.6.5
rich==13.7.1  # 13.3.3
starlette==0.37.2  # 0.27.0
stomp-py==8.1.0
sqlmodel==0.0.11  # 0.0.8
textual==0.42.0
tifffile==2024.5.3
uvicorn[standard]==0.29.0  # 0.18.2
websocket-client==1.8.0  # 1.3.3
werkzeug==3.0.3  # 3.0.1
xmltodict==0.13.0
zocalo==0.32.0  # 0.21.0
