<html>
<head>
    <title>MURFEY</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('images', path='/favicon.ico') }}" rel="icon" type="image/x-icon" />
</head>

<body>
<div class="topnav">
    <a href="/visits">Visits</a>
    <a href="/pypi/fastapi">FastAPI PyPI</a>
</div>
<img src="images/dls.jpeg" alt="DLS">
<div class="wrapper">
    <div class="content">
        <h2>Murfey</h2>
        <p>Microscope: {{ microscope }}</p>
        <p>A transporter for data from Diamond eBIC microscope and detector machines onto the Diamond network.</p>
    </div>
</div>
<div class="footer">
    <p>For help please contact your LC or the EM Data Analysis team.</p>
</div>

</body>

</html>