name: Build and test

on: [push, pull_request]

env:
  ISPYB_DATABASE_SCHEMA: 4.11.0
  # Installs from GitHub
  # Versions: https://github.com/DiamondLightSource/ispyb-database/tags
  # Previous version(s):
  # 4.8.0
  # 4.2.1 # released 2024-08-19
  # 4.1.0 # released 2024-03-26

permissions:
  contents: read

jobs:
  static:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Syntax validation
        run: |
          python .github/workflows/scripts/syntax-validation.py
      - name: Flake8 validation
        run: |
          pip install flake8
          python .github/workflows/scripts/flake8-validation.py

  build:
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install pypa/build
        run: >-
          python3 -m
          pip install
          build
          --user
      - name: Build python package
        run: python3 -m build

  get-database:
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download ISPyB DB schema v${{ env.ISPYB_DATABASE_SCHEMA }} for tests
        run: |
          mkdir database
          wget -t 3 --waitretry=20 https://github.com/DiamondLightSource/ispyb-database/releases/download/v${{ env.ISPYB_DATABASE_SCHEMA }}/ispyb-database-${{ env.ISPYB_DATABASE_SCHEMA }}.tar.gz -O database/ispyb-database.tar.gz
      - name: Store database artifact
        uses: actions/upload-artifact@v6
        with:
          name: database
          path: database/

  tests:
    name: Call ci unit tests workflow
    uses: ./.github/workflows/ci.yml
    needs:
      - build
      - get-database
      - static
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
